/* general */
.navbar {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding-top: 10px;
  font-size: 13px;
  font-weight: bolder;
  background-color: var(--black);
  width: var(--size);
  height: 100%;
  position: fixed;
}

.navbar .links .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-bottom: 24px;
}

/* item's style */
.navbar .links .item {
  display: flex;
  align-items: center;
  width: 93%;
  height: 40px;
  border-radius: 4px;
  vertical-align: middle;
  font-family: "GothamBold";
}

.navbar .links .item:hover {
  color: var(--on-text);
  cursor: pointer;
  transition: 0.4s;
}

.navbar .links .item:nth-child(1) {
  background-color: var(--on-black);
  color: var(--on-text);
}

/* icon's style */
.links .item fa-icon {
  margin-left: 16px;
  margin-right: 15px;
}

